/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

/* BODY */
body{
background: linear-gradient(135deg, #ffe4ec, #ffd6e8, #ffc2dd);
color:#4a2c3a;
}

/* NAVBAR */
nav{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 5%;
background:rgba(255,255,255,0.7);
backdrop-filter: blur(10px);
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:#d63384;
text-decoration:none;
font-weight:500;
}

/* HERO */
header{
margin-top:70px;
text-align:center;
padding:120px;
}

button{
padding:10px 20px;
background:#ff69b4;
color:white;
border:none;
cursor:pointer;
border-radius:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* SECTION */
section{
padding:80px 5%;
}

/* ABOUT */
#about{
display:flex;
gap:30px;
background:white;
color:#4a2c3a;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.profile-pic{
width:150px;
border-radius:15px;
}

/* SKILLS */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;
}

.grid span{
background:#fff0f6;
color:#d63384;
padding:15px;
text-align:center;
border-radius:10px;
}

/* PROJECTS */
.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:white;
color:#4a2c3a;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

/* CONTACT */
#contact{
background:white;
color:#4a2c3a;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

input, textarea{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ffc2dd;
border-radius:10px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#ffb6c1;
color:#fff;
}

/* MOBILE */
@media(max-width:768px){
#about{
flex-direction:column;
}
}